<!-- templates/footer.html -->
<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-logo">
      <img src="/static/img/logo.png" alt="Logo Institución" />
      <h1>UNCAUS</h1>
    </div>

    <div class="footer-section autores">
      <h4>Autores</h4>
      <div class="autor">
        <strong>Facundo Grab</strong><br>
        DNI: <span class="dato">42.983.003</span><br>
        LU: <span class="dato">13166</span>
      </div>
      <div class="autor">
        <strong>Franco Makula</strong><br>
        DNI: <span class="dato">41.987.654</span><br>
        LU: <span class="dato">654321</span>
      </div>
      <div class="autor">
        <strong>Fernando Luchi</strong><br>
        DNI: <span class="dato">41.987.654</span><br>
        LU: <span class="dato">654321</span>
      </div>
    </div>

    <div class="footer-section profesores">
      <h4>Profesores</h4>
      <ul>
        <li>Ing. Rodrigo Cuellar</li>
        <li>Ing. Varela Leandro</li>
      </ul>
    </div>

  </div>
</footer>
