<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datos del ESP32</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
  <h1>Lecturas del ESP32</h1>

  <div class="card">
    <h2>Temperatura</h2>
    <div id="temperatura">-- °C</div>
  </div>

  <div class="card">
    <h2>Humedad</h2>
    <div id="humedad">-- %</div>
  </div>

  <div class="card">
    <h2>Distancia</h2>
    <div id="distancia">-- cm</div>
  </div>

  <footer>ESP32 + Flask + MQTT + Socket.IO</footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>